.dashboard {
    width: 55%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    min-height: 1000px;
    background: $c_white;
    float: left;
}
.right-log {
    width: 45%;
    min-height: 1000px;
    float: right;
    pre {
        min-height: 1000px;
    }
}