.dashboard {
    width: 55%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    min-height: 1000px;
    background: $c_white;
    float: left;
    table {
        td {
            vertical-align: middle;
            select, input {
                margin: 0;
            }
        }
    }
}
.right-log {
    width: 45%;
    min-height: 1000px;
    float: right;
    pre {
        min-height: 1000px;
    }
}
.msgline {
    position: fixed;
    bottom: 0;
    height: 20px;
    background: rgba(230, 230, 230, 0.8);
    width: 100%;
    margin: 0;
    padding: 7px;
    font-size: 18px;
    display: none;
}