body {
    padding-top: 60px;
    background: $c_background
}
.orange {
    color: $c_orange;
}
.navbar {
    @include gradient(#FAFAFA, #EAEAEA);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    line-height: 40px;
    .nav-container {
        position: relative;
        .nav-profile {
            position: absolute;
            right: 0;
            padding: 10px 20px;
            font-size: 16px;
            a {
                color: $c_dgray;
            }
        }
        .nav-avatar {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            border: 1px solid $c_lgray;
            padding: 3px;
            background: $c_white;
            margin-right: 5px;
        }
    }
}
.container {
    .brand {
        text-shadow: none;
        &:hover {
          color: $c_lblue;
        }
    }
    a {
        text-decoration: none;
    }
}
.err {
    color: $c_orange;
}
.succ {
    color: $c_green;
}
.line {
    display: block;
}
.code {
    font-family: $font_code;
}
code {
    font-family: $font_code;
}
table.table {
    td {
        vertical-align: middle;
        select, input {
            margin: 0;
        }
    }
}
.msg-block {
    @include gradient(#FAFAFA, #EAEAEA);
    @include shadow;
    @include transition;
    border-top: 1px solid $c_lgray;
    position: fixed;
    bottom: 0;
    // height: 20px;
    width: 100%;
    margin: 0;
    // padding: 15px 0;
    font-size: 18px;
    z-index: 100;
    display: none;
    .msg-line {
        @include transition;
    }
}