body {
    padding-top: 60px;
    background: $c_background
}
.orange {
    color: $c_orange;
}
.navbar {
    @include gradient(#FAFAFA, #EAEAEA);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    line-height: 40px;
}
.container {
    .brand {
        text-shadow: none;
        &:hover {
          color: $c_lblue;
        };
    }
}
.err {
    color: $c_orange;
}
.succ {
    color: $c_green;
}
.line {
    display: block;
}
.code {
    font-family: $font_code;
}
code {
    font-family: $font_code;
}
table.table {
    td {
        vertical-align: middle;
        select, input {
            margin: 0;
        }
    }
}
.msgline {
    position: fixed;
    bottom: 0;
    height: 20px;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    margin: 0;
    padding: 7px;
    font-size: 18px;
    z-index: 100;
    display: none;
}