body {
    background: $c_background
}
.board {
    @include transition;
    border: 1px dashed $c_lgray;
    padding: 10px;
    background: $c_white;
    overflow: hidden;
    float: left;
    position: relative;
    cursor: pointer;
}
.board-large {
    width: 1178px;
    height: 578px;
}
.board-medium {
    width: 578px;
    height: 278px;
}
.board-small {
    width: 278px;
    height: 128px;
}
.board-hover {
    @include shadow;
    @include rise;
}
.popback {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.popen {
    @include transition(0.7s);
    @include center(0, 100%);
    @include shadow;
    display: none;
    background: $c_white;
}