body {
    background: $c_background
}
.board {
    @include transition;
    border: 1px dashed $c_lgray;
    padding: 10px;
    background: $c_white;
    overflow: hidden;
    float: left;
    position: relative;
}
.board-large {
    width: 1178px;
    height: 578px;
}
.board-medium {
    width: 578px;
    height: 278px;
}
.board-small {
    width: 278px;
    height: 128px;
}
.board-hover {
    @include shadow;
    @include rise;
}
