extends layout
block content
    section.board.board-large(board="configs")
    section.board.board-medium(board="configs")
    section.board.board-small(board="configs")
    section.board.board-small(board="configs")
    section.board.board-small(board="configs")
    section.board.board-small(board="configs")
block script
    script(src='/js/loadboard.js')