extends layout
block stylesheet
    link(href="#{baseDomain}/css/index.css", rel="stylesheet")
block content
    div#popback.popback
        div#popen.popen
    div.container
        div.board.board-small.bp(board="jobsum", target-url="#{baseDomain}/board/joblist")
        div.board.board-medium(board="mailsum")
block script
    script(src='#{baseDomain}/js/index.js')
