extends layout
block stylesheet
    link(href="#{baseDomain}/css/index.css", rel="stylesheet")
block content
    div#popback.popback
        div#popen.popen This is a popen
    div.container
        div.board.board-large(board="configs")
        div.board.board-small(board="jobsum")
        div.board.board-small(board="mailsum")
        div.board.board-small(board="mailsum")
        div.board.board-small.bp(board="mailsum", target-url="#{baseDomain}/board/jobs")
        div.board.board-medium.bp(board="jobsum", target-url="#{baseDomain}/board/jobs")
        div.board.board-medium.bp(board="configs", target-url="#{baseDomain}/board/jobs")
block script
    script(src='/js/util.js')
    script(src='/js/loadboard.js')