doctype 5
html(lang="en")
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/libcss/bootstrap.css", rel="stylesheet")
    block stylesheet
    link(href="/libcss/bootstrap-responsive.css", rel="stylesheet")
    link(href="/libcss/chosen.css", rel="stylesheet")
  body
    include navbar
    block content
    script(src='/libjs/jquery-1.8.2.min.js')
    script(src='/libjs/bootstrap-collapse.js')
    script(src="/libjs/chosen.jquery.js")
    block script
    include footer
