extends layout
block stylesheet
    link(href="/css/index.css", rel="stylesheet")
block content
    form#login-form.form-horizontal.login-form(method="get", action="/openapi/login")
        div.control-group
            label.control-label(for="inputUserName") UserName
            div.controls
                input#inputUserName(type="text", placeholder="UserName", name="username", required)
        div.control-group
            label.control-label(for="inputPassword") Password
            div.controls
                input#inputPassword(type="text", placeholder="Password", name="password", required)
        div.control-group
            div.controls
                button.btn(type="submit") Sign In
block script
    script(src="/libjs/jquery.form.js")
    script(src="/js/login.js")