extends layout
block stylesheet
    link(href="/css/publish.css", rel="stylesheet")
block content
    section.dashboard
        table.table.table-striped
            thead
                tr
                    th Project
                    th Branch
                    th Target
                    th Timestamp
                    th VCS
                    th Control
            tbody
                tr
                    td
                        select.span2
                            - for(var i in projects){
                            option #{projects[i].pname}
                            - }
                    td
                        input.span2(type="text", placeholder="branch")
                    td
                        select.span2
                            - console.log(targets)
                            - for(var i in targets){
                            option #{targets[i].name}
                            - }
                    td 
                        input(type="checkbox")
                    td svn
                    td 
                        button.btn publish
    aside.right-log
        
block script
    script(src="/js/publish.js")