body {
  background: #eeeeee;
}

.board {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  border: 1px dashed #cccccc;
  padding: 10px;
  background: white;
  overflow: hidden;
  float: left;
  position: relative;
}

.board-large {
  width: 1178px;
  height: 578px;
}

.board-medium {
  width: 578px;
  height: 278px;
}

.board-small {
  width: 278px;
  height: 128px;
}

.board-hover {
  box-shadow: 0 0 15px 5px #666666;
  -webkit-box-shadow: 0 0 15px 5px #666666;
  -moz-box-shadow: 0 0 15px 5px #666666;
  -o-box-shadow: 0 0 15px 5px #666666;
  padding: 13px;
  margin: 0 -6px -6px 0;
  left: -3px;
  top: -3px;
  z-index: 1;
}
