.board {
    @include transition;
    background: $c_white;
    overflow: hidden;
    float: left;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 3px;    
    margin: 5px;
    .title{
        @include gradient(#FAFAFA, #EAEAEA);
        padding: 10px;
        border-bottom: 1px solid #CACACA;
        @include shadow;
    }
    .bcon {
        margin: 5px;        
    }
}
.bp {
    cursor: pointer;
}
.board-hover {
    @include shadow;
        // @include rise(10px, 5px);
}
.board-large {
    width: 1158px;
    height: 578px;
}
.board-medium {
    width: 574px;
    height: 278px;
}
.board-small {
    width: 282px;
    height: 128px;
}
.popback {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.popen {
    @include transition(0.7s);
    @include center(0, 100%);
    @include shadow;
    top: 0;
    margin-top: 0;
    padding-top: 65px;
    display: none;
    background: $c_white;
    .title{
        @include gradient(#FAFAFA, #EAEAEA);
        padding: 10px;
        border-bottom: 1px solid #CACACA;
        @include shadow;
    }
    .bcon {
        margin: 5px;        
    }
}
.table th, .table td{
    vertical-align: middle;
}
.command-line {
    float: right;
    #cmdInput {
        @include transition;
        width: 200px;
        &:focus {
            width: 600px;
        };
    }
}
.login-form {
    @include shadow;
    margin: 20px auto;
    width: 500px;
    padding: 20px;
    background: $c_white;
    border-radius: 5px;
}