extends ../board
block board
    div.mail-queues
        table.table.table-striped
            thead
                tr
                    th MailBox
                    th Template
            tbody
                tr
                    td heartbeat51fanli@163.com
                    td.orange Undefined