extends ../board
block board
    table.table.table-striped
        thead
            tr
                th Status
                th Number
        tbody
            tr
                td runing
                td.orange #{jobNum}