extends ../board
block board
    table.table.table-striped
        thead
            tr
                th job status
                th job number
        tbody
            tr
                td runing
                td.orange #{jobNum}