extends ../board
block board
    div.mail-queues
        table.table.table-striped
            thead
                tr
                    th Name
                    th Webpower Id
                    th Desc
                    th Control
            tbody
                - for(var i in mailTemplates){
                tr
                    td #{mailTemplates[i].name}
                    td #{mailTemplates[i].webpowerid}
                    td #{mailTemplates[i].desc}
                    td
                        button.btn.btn-small.boardpopen(target-url="/board/mailtempedit?mailname=#{mailTemplates[i].name}") Edit
                - }
                tr
                    td
                        button.btn.btn-small.boardpopen(target-url="/board/mailtempedit") Add New One
                    td
                    td
                    td
