extends ../board
block board
    div.mail-queues
        table.table.table-striped
            thead
                tr
                    th Id
                    th Name
                    th Webpower Id
                    th Create Time
            tbody
                - for(var i in mailTemplates){
                tr
                    td #{mailTemplates[i].id}
                    td #{mailTemplates[i].name}
                    td #{mailTemplates[i].webpowerid}
                    td #{mailTemplates[i].ctime}
                - }
