extends ../board
block board
    div.mail-channels
        table.table.table-striped
            thead
                tr
                    th Channel
                    th Rank
                    th Template
                    th Command
            tbody
                - for(var i in mailChannels) {
                -   var trClass;
                -   if(parseInt(mailChannels[i].score) < 0){
                -       trClass = 'error';
                -   } else {
                -       trClass = '';
                -   }
                tr(class="#{trClass}")
                    td
                        input.span2.data(type="text", value="#{i}", name="name", readonly, required)
                    td
                        input.span1.data(type="text", value="#{mailChannels[i].score}", name="score", required)
                    td
                        select.chzn-select.data.mail-channel-temp.span2(name="temp")
                            - if(mailChannels[i].temp == 'local') {
                            option(value="local", selected) local
                            option(value="remote") remote
                            - }else{
                            option(value="local") local
                            option(value="remote", selected) remote
                            - }
                    td
                        div.btn-group
                            button.btn.btn-small.mc-ctrl Edit
                            button.btn.btn-danger.btn-small.mc-ctrl.mc-delete Delete
                - }
                tr
                    td
                        input.span2.data(type="text", name="name", required)
                    td
                        input.span1.data(type="text", name="score", required)
                    td
                        select.chzn-select.data.mail-channel-temp.span2(name="temp")
                            option(value="local", selected) local
                            option(value="remote") remote
                    td
                        div.btn-group
                            button.btn.btn-small.mc-ctrl Add
    script(src='/js/board/mailchannels.js')