extends ../board
block board
    form#mailTempFrom.form-horizontal(method="post", action="/api/post/mailtempedit")
        div.control-group
            label.control-label(for="inputMailTempName") MailTempName
            div.controls
                input#inputMailTempName(type="text", placeholder="MailTempName", name="name", value="#{mailTemplate.name}", readonly)
        div.control-group
            label.control-label(for="inputWebPowerId") WebPowerId
            div.controls
                input#inputWebPowerId(type="text", placeholder="WebPowerId", name="webpowerid", value="#{mailTemplate.webpowerid}")
                span.example 示例:2,96,958 (活动id，分组id，邮件id)
        textarea#maileditor.maileditor(name="temp", cols="80", rows="200") #{mailTemplate.temp}
        input#mailEditAction(type="hidden", name="action", value="edit")
        div.btn-group.div-mailtempedit
            button.btn.mail-temp-edit(type="submit") Submit
            button.btn.btn-danger.mail-temp-delete Delete
    script(src="/js/board/maileditor.js")