extends ../board
block board
    table.table.table-striped
        thead
            tr
                th Queue
                th Number
        tbody
            - for(var i in mailSum){
            tr
                td #{i}
                td.orange #{mailSum[i]}
            - }
